<section class="Mission">

    <div class="container">

        <div class="row">

            <!-- MissionImg -->
            <div class="col-lg-6">

                <div class="MissionImg">
                    {{ settings.mission_image | img_url: '621x480' | img_tag: 'Gita Omri' }}
                </div>

            </div>

            <!-- MissionContent -->
            <div class="col-lg-6">

                <div class="MissionContent">
                    {{ page.content }}
                    <div class="Signature">
                        {{ settings.mission_signature | img_url: '174x73' | img_tag: 'Gita Omri' }}
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
