<section class="AboutDetails">

    <div class="container">

        <div class="row">

            <!-- AboutDetailsImg -->
            <div class="col-lg-6">

                <div class="AboutDetailsImg">
                    {{ settings.about_image | img_url: '397x397' | img_tag: 'Gita Omri' }}
                </div>

            </div>

            <!-- AboutDetailsContent -->
            <div class="col-lg-6">

                <div class="AboutDetailsContent">

                    <h2>Gita Omri Brown</h2>
                    <h3>Our Designer</h3>

                    <p>"We all deserve to look and feel our best regardless of our race, nationality, or SIZE.

                        <br> Dignity has no size tag and fashion should reflect that."</p>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="MoreAbout">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="MoreAboutContent">

                    <h4>MORE ABOUT GITA</h4>

                    <div class="text">
                        {{ page.content }}
                    </div>

                    <div class="Collection">

                        <a href="/collections/omriessentials">SHOP COLLECTION</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>