<section class="AboutDetails">

    <div class="container">

        <div class="row">

            <!-- AboutDetailsImg -->
            <div class="col-lg-6">

                <div class="AboutDetailsImg">
                    {{ settings.about_image | img_url: '397x397' | img_tag: 'The Soap Store' }}
                </div>

            </div>

            <!-- AboutDetailsContent -->
            <div class="col-lg-6">

                <div class="AboutDetailsContent">

                    <h2>Gita Omri Brown</h2>
                    <h3>Our Designer</h3>

                    <p>" We all deserve to look and feel our best regardless of our race, nationality, or SIZE.

                        <br> Dignity has no size tag and fashion should reflect that."</p>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="MoreAbout">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="MoreAboutContent">

                    <h4>MORE ABOUT GITA</h4>

                    <div class="text">

                        <p>Gita Omri Brown is an Israeli-American designer based in New York. Gita has made it her mission to achieve excellence in inclusive fashion design for women. As a woman who spent her life struggling with the size of her body and all the accompanying issues, Gita understands first-hand the need for inclusion and respect for all shapes and sizes in fashion.  </p>

                        <p> One of the greatest pains Gita endured growing up with a larger body was the segregation imposed on her by the fashion industry. With three slim sisters who had their pick of places to shop for young trendy clothes, Gita was mostly excluded as a plus sized girl. With a love for fashion and a wish for change Gita decided to be an agent of change and become a truly inclusive designer.  </p>

                        <p>For Spring 2023, Gita is making her full collection runway debut. Gita has shown four capsule collections to date on the runways of fashion weeks in New York and Vancouver. This September, she presents her range of modern designer sportswear that is truly a collection for every woman – Each look is sized from 0 to 30 so that regardless of one’s size, she can shop the Gita Omri collection. </p>

                        <p>Gita received her training both in the United States and abroad. After earning a degree in fashion design from the Art Institute of New York City, she attended the prestigious Central Saint Martins College at the University of Arts London. CSM is ranked as the most celebrated fashion school in the world and has the admissions standards to match its reputation. After Studying Print Design in London, Gita earned another degree in Fashion Design from the Academy of Art University of san fransisco, another highly respected institution.</p>

                        <p>Gita’s intensive design process is made doubly rigorous given the range of sizes for which she creates. She fits every garment on several sizes before the pattern is finally graded for production. It’s a costly process both in terms of time and resources, but it’s one that is essential to the company’s core set of values, one collection in all sizes.</p>

                        <p>“As a brand, I am determined to bring together old-world sophistication with new world values,” says Gita. “Most view fashion as synonymous with vanity. Our mission is to reintroduce fashion as a tool to enhance one’s confidence and self-esteem. With my label I seek to empower women to present themselves to the world in their true form with pride, acceptance, and authenticity.” </p>

                    </div>

                    <div class="Collection">

                        <a href="Omri_Essential.html">SHOP COLLECTION</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>