<section class="Mission">

    <div class="container">

        <div class="row">

            <!-- MissionImg -->
            <div class="col-lg-6">

                <div class="MissionImg">
                    {{ settings.mission_image | img_url: '621x480' | img_tag: 'The Soap Store' }}
                </div>

            </div>

            <!-- MissionContent -->
            <div class="col-lg-6">

                <div class="MissionContent">
                    <p>More women are joining the size acceptance movement and are demanding recognition of their need for high quality fashion forward clothing regardless of size.. </p>

                    <p>By providing an inclusive line we put to rest the alienating term “plus size” used to describe women who do not fit the archaic standards of beauty. </p>

                    <p>By eliminating the split between the sizing groups and promoting body positivity we lower the importance of belonging to one size group or another and bring back joy to the shopping experience. </p>

                    <p>More women are joining the size acceptance movement and are demanding recognition of their need for high quality fashion forward clothing regardless of size.. </p>

                    <p>By providing an inclusive line we put to rest the alienating term “plus size” used to describe women who do not fit the archaic standards of beauty. </p>

                    <p>By eliminating the split between the sizing groups and promoting body positivity we lower the importance of belonging to one size group or another and bring back joy to the shopping experience. </p>

                    <div class="Signature">
                        {{ settings.mission_signature | img_url: '174x73' | img_tag: 'The Soap Store' }}
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
